__pycache__/
*.py[cod]
*.pyo
*.pyd

env/
venv/
.venv/

.vscode/

.idea/

.DS_Store
Thumbs.db

*.log
data.txt

.ipynb_checkpoints/

htmlcov/
*.cover
coverage.xml
*.log
.cache/
.pytest_cache/
.tox/

build/
dist/
*.egg-info/

.env
.env.*
